<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                
                <!-- Redirection http -> https -->
                <rule name="Redirect to https" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                
                <!-- On retire les extensions -->
                <rule name="No extension" stopProcessing="true">
                    <match url="^.*$" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
                    </conditions>
                    <action type="None" />
                </rule>
                
                <!-- dossier image : picture/dossier/nomImage 
                        Mais aussi les images des bundles
                    -->
                <rule name="Picture Bundle" stopProcessing="true">
                    <match url="picture/([a-zA-Z0-9]+)/([a-zA-Z\-0-9/]+).(jpg|png|gif)" />
                    <action type="Rewrite" url="app/Src/{R:1}Bundle/public/img/{R:2}.{R:3}" />
                </rule>
                
                <rule name="Picture" stopProcessing="true">
                    <match url="picture/([a-zA-Z\-0-9/]+).(jpg|png|gif)" />
                    <action type="Rewrite" url="public/{R:1}.{R:2}" />
                </rule>
                
                <!-- dossier scripts : scripts/monJs.js ou css/nomCss.css ou typo 
                        Mais aussi les scripts des bundles
                    -->                 
                <rule name="Scripts Bundle" stopProcessing="true">
                    <match url="scripts/([a-zA-Z0-9]+)/(js|css|typo)/([a-zA-Z\-0-9=\./]+).(js|css)" />
                    <action type="Rewrite" url="app/Src/{R:1}Bundle/public/{R:2}/{R:3}.{R:4}" />
                </rule>
                
                
                <rule name="Scripts" stopProcessing="true">
                    <match url="scripts/(js|css|typo)/([a-zA-Z\-0-9=\./]+).(js|css)" />
                    <action type="Rewrite" url="public/{R:1}/{R:2}.{R:3}" />
                </rule>
                
                <rule name="Fonts" stopProcessing="true">
                    <match url="scripts/(fonts)/([a-zA-Z\-0-9=\./]+).(eot|svg|ttf|woff)" />
                    <action type="Rewrite" url="public/{R:1}/{R:2}.{R:3}" />
                </rule>
                
                <!-- Règle pour le routeur -->
                <rule name="Router" stopProcessing="true">
                    <match url="^(.*)$"  />
                    <action type="Rewrite" url="index.php?url={R:1}"  appendQueryString="true" />
                </rule>
                
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
